@model IEnumerable<LogisticsProject.Models.CentraLogistyczne>

@{
    ViewBag.Title = "Centra Logistyczne";
}

<h2><br />Centra Logistyczne</h2>

<p>
    @Html.ActionLink("Utwórz", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numer)
        </th>
        <th>
            @Html.DisplayName("Kod Pocztowy")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodPocztowy)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
