@model LogisticsProject.Models.Przewoznicy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Przewoznicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayName("Adres Kontaktowy")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresKontaktowy)
        </dd>

        <dt>
            @Html.DisplayName("Właściciel")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wlasciciel)
        </dd>

        <dt>
            @Html.DisplayName("Nr Komórkowy")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrKomorkowy)
        </dd>

        <dt>
            @Html.DisplayName("Nr Konta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrKonta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
